#################
## Eclipse
#################

.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.buildpath

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
